/* Navbar.css */

/* Barra azul */
.top-bar {
  background-color: #000000;
  height: 70px;
  display: flex;
  align-items: center;
}

.top-content {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.logo {
  color: white;
  font-size: 42px;
  font-weight: 300;
  margin-top: 60px;
  margin-left: 110px;
  padding-bottom: 6px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.user-area {
  color: white;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  /* margin-right: 179px; */
  padding-top: 8px;
  cursor: pointer;
  display: inline-block;
}

/* Dropdown menus */
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 6px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 6px;
  padding: 0px 0;
  min-width: 220px;
  left: 1px;
  margin-top: 10px;
  z-index: 1000;
}

.dropdown-item {
  padding: 10px 16px; /* melhor usar padding horizontal */
  cursor: pointer;
  display: flex;   /* 🔥 faz o tamanho acompanhar o texto */
  white-space: nowrap;     /* 🔥 impede quebra de linha */
  color: #333;
  transition: background-color 0.2s;
  justify-content: left;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

/* Barra cinza */
.menu-bar {
  background-color: #F8F8F8;
  height: 48px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(211, 211, 211);

}

.menu-content {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  gap: 32px;
  padding: 0 24px;
  font-family: "Open Sans", sans-serif;
  padding-left: 220px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: normal;
  color: #333333;
}

.menu-link {
  cursor: pointer;
  display: inline-block;
}

.menu-item {
  position: relative;
  display: inline-block;
}